html(lang="ja" style="position:relative;min-height:100%;")
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="June YAMAMOTO")
    link(rel="icon" type="image/png" href="/img/favicon-16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/img/favicon-32.png" sizes="32x32")
    title
      |プライバシーポリシー - 鳩時計
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
  body(style="margin:60px 0 60px 0;")
    nav.navbar.fixed-top.navbar-light.bg-light
      a.navbar-brand(href="./index.html")
        img.d-inline-block.align-top(src="./img/favicon-32.png" width="30" height="30" style="margin-right:15px;")
        |鳩時計
    main(role="main")
      ul.nav.justify-content-center.nav-pills
        li.nav-item
          a.nav-link(href="./index.html") 鳩時計とは
        li.nav-item
          a.nav-link.active(href="#") プライバシーポリシー
      div.container
        div.row(style="margin-top:40px;")
          div.col
            h1 プライバシーポリシー
            h2 基本理念
            p WWW.YAMBAL.NET は、個人情報を適切に取り扱うことが重要な社会的責務と考え、以下のとおり、個人情報の保護方針を実施します。
            h2 個人情報
            p 通常、お客様は一切の個人情報を明らかにすることなく、アプリとウェブサイトにアクセスしていただけます。
            h2 利用目的
            p WWW.YAMBAL.NET が、個人情報を収集する目的は次のとおりです。
            h3 お客様へ商品やサービスに関する情報の提供を行う場合
            p 顧客満足度調査や市場調査のために、また特定のお取引に関連して、お客様にご連絡させていただく場合。
            h3 マーケティングの目的で利用する場合
            p 匿名形式で情報を収集し分析を行う場合。
            h2 第三者への提供制限
            p WWW.YAMBAL.NET は、事前にお客様の同意を得ない限り、個人情報を第三者に提供あるいは開示しません。但し、次の場合を除きます。
            p 人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき
            p 公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき
            p 国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
            p その他法令に基づく場合
            h2 正確性の維持
            p WWW.YAMBAL.NET は、個人情報について正確かつ最新の内容に保つよう努力するものとします。
            h2 予防ならびに是正措置
            p WWW.YAMBAL.NET は、お客様にご提供いただいた個人情報を不正アクセス、紛失、破壊、改ざん、誤用および漏えいから個人情報を守るために必要とされる適切な予防並びに是正措置を実施いたします。
            h2 Cookies およびその他の技術について
            p WWW.YAMBAL.NET のサービスおよび本ウェブサイトは、「Cookie」およびその他の技術を利用している場合がありますが、これらの技術は、個人情報を入力しない限り、自動的に個人情報を収集することはありません。
            h2 ログ
            p WWW.YAMBAL.NET では、利用動向の分析や広告の効果測定のために、個人を特定できないいくつかの情報を自動的に収集してログファイルに保存しています。この情報には、IP（インターネットプロトコル）アドレス、ブラウザの種類、インターネットドメイン名、ISP（インターネットサービスプロバイダ）、参照/終了ページ、オペレーティングシステム、日付及び時刻が含まれる場合があります。WWW.YAMBAL.NET は、裁判所、警察又はこれらに準じた権限を持った公的機関から要請がある場合を除いて、ログの開示を行いません。
            h2 改訂
            p WWW.YAMBAL.NET は、本ポリシーを随時更新します。その場合には、お客様に対し、改定の旨を本ウェブサイトに掲載します。掲載した時点より改定されたポリシーが適用されるものとします。
    footer(style="position:absolute;bottom:0;width:100%;height:60px;background-color: #f5f5f5;line-height:60px;")
      div.container
        span.text-muted WWW.YAMBAL.NET
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script
      |window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")